<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <!-- ### Section handler ###-->
   <!-- Every section used in this file must have a registered section handler -->
   <configSections>
      <section name="KukaRoboter.InstallerStrategy" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
   </configSections>

   <location allowOverride="true" inheritInChildApplications="true">
      <KukaRoboter.InstallerStrategy type="KukaRoboter.DeploymentPackage.Installer.InstallerStrategyConfiguration, KukaRoboter.DeploymentPackage">
         <InstallerStrategy DeleteSurplusFiles="true" IgnoreExternalFiles="false">
            <IgnoreFilter>
            </IgnoreFilter>
         </InstallerStrategy>
      </KukaRoboter.InstallerStrategy>
   </location>
</configuration>
