<ArchiveConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="KUKARoboter.Contracts.Archive">
  <Content>
    <ArchiveContentConfiguration>
      <Name>All</Name>
      <Description>Configuration "All" from registry. Converted at 5/18/2015 8:23:31 AM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Config\User\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Config\System\Common\Mada\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Init\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Ir_Spec\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Template\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Rdc\</Path>
          </FileSource>
          <FileSource>
            <Path>\User\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\log\Mastery.log</Path>
          </FileSource>
          <FileSource>
            <Path>D:\directoryloader\</Path>
          </FileSource>
          <FileSource>
            <Path>\TP\UserTech\Template\</Path>
          </FileSource>
          <FileSource>
            <Path>c:\krc\SmartHMI\smarthmi.exe.usertech.config</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <LogConfig>
        <ProtokollNames>
          <string>KrcLog</string>
          <string>KrcLogI</string>
          <string>KrcLogU</string>
          <string>KrcLogS</string>
          <string>KrcLogP</string>
          <string>KrcLogB</string>
          <string>KrcLogC</string>
          <string>KrcCrossLog</string>
        </ProtokollNames>
      </LogConfig>
      <RegistryConfig>
        <RegistryKeys>
          <string>HKEY_LOCAL_MACHINE\SOFTWARE\KUKA ROBOTER GMBH\KUKA BOF\OCX Control's\FileHandler</string>
          <string>HKEY_LOCAL_MACHINE\SOFTWARE\KUKA ROBOTER GMBH\WorkVisual</string>
          <string>HKEY_LOCAL_MACHINE\SOFTWARE\KUKA Roboter GmbH\Performance\</string>
        </RegistryKeys>
      </RegistryConfig>
      <StoreIncremental>false</StoreIncremental>
      <IsComplete>true</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>Apps</Name>
      <Description>Configuration "Apps" from registry. Converted at 5/18/2015 8:23:31 AM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\R1\Program\</Path>
          </FileSource>
          <FileSource>
            <Path>KRC:\R1\cell*</Path>
          </FileSource>
          <FileSource>
            <Path>KRC:\Steu\$config*</Path>
          </FileSource>
          <FileSource>
            <Path>KRC:\R1\System\</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>ConfigData</Name>
      <Description>Configuration "ConfigData" from registry. Converted at 5/18/2015 8:23:31 AM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\R1\Mada\</Path>
          </FileSource>
          <FileSource>
            <Path>KRC:\R1\System\</Path>
          </FileSource>
          <FileSource>
            <Path>KRC:\R1\TP\</Path>
          </FileSource>
          <FileSource>
            <Path>KRC:\Steu\Mada\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Config\User\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Config\System\Common\Mada\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Init\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Ir_Spec\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Template\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Rdc\</Path>
          </FileSource>
          <FileSource>
            <Path>\User\</Path>
          </FileSource>
          <FileSource>
            <Path>\TP\UserTech\Template\</Path>
          </FileSource>
          <FileSource>
            <Path>c:\krc\SmartHMI\smarthmi.exe.usertech.config</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <RegistryConfig>
        <RegistryKeys>
          <string>HKEY_LOCAL_MACHINE\SOFTWARE\KUKA ROBOTER GMBH\KUKA BOF\OCX Control's\FileHandler</string>
          <string>HKEY_LOCAL_MACHINE\SOFTWARE\KUKA ROBOTER GMBH\WorkVisual</string>
        </RegistryKeys>
      </RegistryConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>LogFiles</Name>
      <Description>Configuration "LogFiles" from registry. Converted at 5/18/2015 8:23:31 AM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters>
          <string>\Roboter\log\*.dmp</string>
          <string>\Roboter\log\poslog\poslog.xsl</string>
        </DefaultExcludeFilters>
        <FileSources>
          <FileSource>
            <Path>\Roboter\log\</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <LogConfig>
        <ProtokollNames>
          <string>KrcLog</string>
          <string>KrcLogI</string>
          <string>KrcLogU</string>
          <string>KrcLogS</string>
          <string>KrcLogP</string>
          <string>KrcLogB</string>
          <string>KrcLogC</string>
          <string>KrcCrossLog</string>
        </ProtokollNames>
      </LogConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>Raw</Name>
      <Description>Configuration "Raw" from registry. Converted at 5/18/2015 8:23:31 AM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
  </Content>
  <Path>
    <ArchivePathConfiguration>
      <Name>History</Name>
      <ArchivePaths>
        <ArchivePath>
          <Default>false</Default>
          <Path>D:\Backups\</Path>
        </ArchivePath>
      </ArchivePaths>
    </ArchivePathConfiguration>
    <ArchivePathConfiguration>
      <Name>Net</Name>
      <ArchivePaths>
        <ArchivePath>
          <Default>false</Default>
          <Path>D:\Intern.zip</Path>
        </ArchivePath>
        <ArchivePath>
          <Default>true</Default>
          <Path>D:\Backups\%ROBNAME%.zip</Path>
        </ArchivePath>
      </ArchivePaths>
    </ArchivePathConfiguration>
    <ArchivePathConfiguration>
      <Name>USB-Cabinet</Name>
      <ArchivePaths>
        <ArchivePath>
          <Default>false</Default>
          <Path>D:\Intern.zip</Path>
        </ArchivePath>
        <ArchivePath>
          <Default>true</Default>
          <Path>E:\%ROBNAME%.zip</Path>
        </ArchivePath>
      </ArchivePaths>
    </ArchivePathConfiguration>
    <ArchivePathConfiguration>
      <Name>USB-KCP</Name>
      <ArchivePaths>
        <ArchivePath>
          <Default>false</Default>
          <Path>D:\Intern.zip</Path>
        </ArchivePath>
        <ArchivePath>
          <Default>true</Default>
          <Path>K:\%ROBNAME%.zip</Path>
        </ArchivePath>
      </ArchivePaths>
    </ArchivePathConfiguration>
    <ArchivePathConfiguration>
      <Name>UserTech</Name>
      <ArchivePaths>
        <ArchivePath>
          <Default>false</Default>
          <Path>D:\UserTech.Zip</Path>
        </ArchivePath>
      </ArchivePaths>
    </ArchivePathConfiguration>
  </Path>
</ArchiveConfiguration>